*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 50px;
    background-color:aquamarine;
}

nav {
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

ul{
    /* border: 1px solid black; */
    flex: 1;    
    max-width: 700px;
    display: flex;
    justify-content: space-evenly;  
}

nav ul li{
    /* display: inline; */
    list-style: none;
}

nav a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: magenta;
}

nav h3{
    color: #2b2d42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: -5px;
}

.firstsection {
    background-color: #C3C3C3;
    height: 400px;
}

.secondsection {
    background-color: #44CFCB;
    height: 400px;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 70%;
    border: 4px solid #E0E0E2;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold;
    font-size: 35px;
    
}

.text-small {
    font-size: 18px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.section {
    height: 400px;
     /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* max-width: 90%; */
    padding-top: 100px; 
    padding-left: 80px;
    background-color: #C3B59F;

}

.section-Left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 65px;
}

.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}

.center {
    text-align: center;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}